.callout-block {
  display: flex;
  align-items: flex-start;
  margin: 1.5em 0;
  padding: 20px;
  border-radius: 8px;
}
.callout-block p {
  margin: 0;
}
.callout-emoji {
  font-size: 1.5rem;
  margin-right: 15px;
  line-height: 1.6;
}

/* Types */
.callout-block.info {
  background-color: #e6f7ff;
  border: 1px solid #91d5ff;
}
.callout-block.success {
  background-color: #f6ffed;
  border: 1px solid #b7eb8f;
}
.callout-block.warning {
  background-color: #fffbe6;
  border: 1px solid #ffe58f;
}
.callout-block.tip {
  background-color: #f9f0ff;
  border: 1px solid #d3adf7;
}
